/*
Pendientes:
  - Scoreboard está muy feo
  - En general está muy feo
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  --black: #0d0d0d;
  --main: #e6e6e6;
  --secondary: #999999;
  --border: #333333;
  --accent: #39ff14;
  
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display:none;
}

.gameBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  padding: 1rem;
}
h2{
  font-size: 1.5rem;
}
.game {
  background: var(--secondary);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
}

.btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}
.user_btn{
  padding-bottom: 1rem;
  
}
button:hover {
  background: var(--accent);
  color: black;
}
.messages{
  font-size: 2rem;
}
.resultmessage{
  font-size: 2rem;
}
.cpumessage{
  font-size: 1rem;
}
.scoreboard{
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
  border: 3px solid var(--accent);
  border-radius: 5px;

}
.scores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 100;
  padding: 0.5rem
}
.score{
  display:flex;
  flex-direction: column;
  font-size: 4rem;
  @media{
    font-size: 2rem;
  }
}
.collapsed{
  display: none;
}
